
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page_title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/resources/default/css/style.css?1583019827" rel="stylesheet">
    {% for entry in register.style %}<link href="{{ entry }}" rel="stylesheet">{% endfor %}

  </head>

  <body>

    <div id="outer" class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
          <div class="sidebar-sticky">

             <h1 class="sidebar-brand px-3 mt-2 mb-2 "><a href="/"><b>Conspectus</b></a></h1>

             <div class="nav-link">
                <input class="form-control form-control-sm" type="search" placeholder="Search..." data-search-top="nav#sidebar"></input>
             </div>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <a class="text-muted" href="#general" data-toggle="collapse"><span class="collapse_state" id="general_state">&nbsp;</span>General</a>
            </h6>

            <div class="collapse" id="general" data-save-state>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link {% if left_menu == 'all' %}active{% endif %}" href="/{{nav_item}}">All Assets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/submit.php">Input Data</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="/">Settings</a>
                </li>
              </ul>
            </div>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <a class="text-muted" href="#classList" data-toggle="collapse"><span class="collapse_state" id="classList_state">&nbsp;</span>Classes</a>
              <a class="nav-link add-button" title="Add new asset class" href="#"><span data-feather="plus-square"></span></a>
            </h6>

            <div class="collapse" id="classList" data-save-state>
              <ul class="nav flex-column">
              {% for item in class_menu_items %}
                <li class="nav-item" data-searchable-value="{{ item.description }}">
                  <a class="nav-link {% if left_menu == 'class/' ~ item.id %}active{% endif %}" href="/{{nav_item}}/class/{{ item.id }}">
                    {{ item.description }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <a class="text-muted" href="#assetList" data-toggle="collapse"><span class="collapse_state" id="assetList_state">&nbsp;</span>Assets</a>
              <a class="nav-link add-button" title="Add new asset" href="/asset/new"><span data-feather="plus-square"></span></a>
            </h6>

            <div class="collapse" id="assetList" data-save-state>
              <ul class="nav flex-column">
              {% for item in asset_menu_items %}
                <li class="nav-item" data-searchable-value="{{ item.description }}">
                  <a class="nav-link {% if left_menu == 'asset/' ~ item.id %}active{% endif %}" href="/{{nav_item}}/asset/{{ item.id }}">
                    {{ item.description }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

          </div>

    <footer class="footer">
      <div class="container-fluid">
        <hr>
        <p class="text-center text-muted">
          <a href="https://pay.smott.co.uk" title="Donate"><i class="fas fa-dollar-sign fa-lg"></i></a>
          <a href="https://github.com/tsumaru720/conspectus" title="Github"><i class="fab fa-github fa-lg"></i></a>
          <a href="https://twitter.com/simon_mott" title="Twitter"><i class="fab fa-twitter fa-lg"></i></a>
        </p>
      </div>
    </footer>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-2 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
