<h2>{{ page_title }}</h2></div>
	<div class="container-fluid pr-5">
		<div class="row text-center">
			<div class="pt-2 col-sm ml-5" style="background-color: rgba(54, 162, 235, 0.5); ">
				<h4>Total Deposit<br>{{ mostRecent.deposit_str }}</h4>
			</div>
			<div class="pt-2 col-sm ml-5" style="background-color: rgba(255, 159, 64, 0.5)">
				<h4>Current Value<br>{{ mostRecent.asset_str }}</h4>
			</div>
			<div class="pt-2 col-sm ml-5" style="background-color: {% if mostRecent.gain < 0 %} rgba(255, 99, 132, 0.5) {% else %} rgba(75, 192, 192, 0.5) {% endif %}">
				<h4>Current Gain<br>{{ mostRecent.gain_str }}</h4>
			</div>
			<div class="pt-2 col-sm ml-5" style="background-color: {% if mostRecent.growth < 0 %} rgba(255, 99, 132, 0.5) {% else %} rgba(75, 192, 192, 0.5) {% endif %}">
				<h4>Growth<br>{{ mostRecent.growth_str }}%</h4>
			</div>
		</div>

		<div class="row text-center">
			<canvas class="mt-4 w-100" id="total_chart" width="900" height="150"></canvas>
		</div>

		<div class="row text-center">
			<div class="pt-2 col-sm">
				<canvas class="my-1 w-100" id="gain_chart" width="900" height="250"></canvas>
			</div>
			<div class="pt-2 col-sm">
				<canvas class="my-1 w-100" id="growth_chart" width="900" height="250"></canvas>
			</div>
		</div>

		<div class="row text-center">
			<div class="pt-2 col-sm">
				<canvas class="my-1 w-100" id="gain_delta_chart" width="900" height="250"></canvas>
			</div>
			<div class="pt-2 col-sm">
				<canvas class="my-1 w-100" id="value_delta_chart" width="900" height="250"></canvas>
			</div>
		</div>

	</div>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>

// https://www.chartjs.org/samples/latest/charts/bar/stacked.html

//total
//gain
//growth
//gain_delta
//value_delta

var labels = [
{% for data in periodData %}
	'{{ data.period }}',
{% endfor %}
];

// TOTALS CHART
var data = {
	labels: labels,
	datasets: [{
		label: 'Deposit Value',
		backgroundColor: 'rgba(54, 162, 235, 0.2)',
		borderColor: 'rgba(54, 162, 235, 1)',
		borderWidth: 1,
		data: [
			{% for data in periodData %}
				'{{ data.deposit_total }}',
			{% endfor %}
		]
	}, {
		type: 'line',
		label: 'Asset Value',
		borderColor: 'rgb(255, 159, 64)',
		backgroundColor: 'rgb(255, 159, 64)',
		fill: false,
		lineTension: 0.1,
		borderWidth: 2,
		data: [
			{% for data in periodData %}
			'{{ data.asset_total }}',
			{% endfor %}
		]
	}]
};

var ctx = document.getElementById('total_chart');
var total_chart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
		animation: false,
        legend: {
			display: true,
			position: 'right'
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
					callback: function(label, index, labels) {
                        return "£" + label.toFixed(2);
                    }
                }
            }]
        }
    }
});




// GAINS CHART

var data = [
{% for data in periodData %}
	'{{ data.gain }}',
{% endfor %}
];

var bg_colours = data.map((value) => value < 0 ? 'rgba(255, 99, 132, 0.2)' : 'rgba(75, 192, 192, 0.2)');
var border_colours = data.map((value) => value < 0 ? 'rgba(255, 99, 132, 1)' : 'rgba(75, 192, 192, 1)');

var ctx = document.getElementById('gain_chart');
var gains_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Total Gain',
            data: data,
			borderColor: border_colours,
            backgroundColor: bg_colours,
            borderWidth: 1
        }]
    },
    options: {
		title: {
			display: true,
			text: "Gain over time"
		},
		animation: false,
        legend: {
			display: false,
			position: 'right'
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
					callback: function(label, index, labels) {
                        return "£" + label.toFixed(2);
                    }
                }
            }]
        }
    }
});


// GROWTH CHART

var data = [
{% for data in periodData %}
	'{{ data.growth }}',
{% endfor %}
];

var ctx = document.getElementById('growth_chart');
var growth_chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Total Growth',
			borderColor: 'rgb(255, 0, 0)',
			backgroundColor: 'rgb(255, 0, 0)',
			fill: false,
			lineTension: 0.1,
			borderWidth: 2,
            data: data,
            borderWidth: 1
        }]
    },
    options: {
		title: {
			display: true,
			text: "Growth over time"
		},
		animation: false,
        legend: {
			display: false,
			position: 'right'
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
					callback: function(label, index, labels) {
                        return label.toFixed(2) + "%";
                    }
                }
            }]
        }
    }
});

// GAINS DELTA CHART

var data = [
{% for data in periodData %}
	'{{ data.gain_delta }}',
{% endfor %}
];


var bg_colours = data.map((value) => value < 0 ? 'rgba(255, 99, 132, 0.2)' : 'rgba(75, 192, 192, 0.2)');
var border_colours = data.map((value) => value < 0 ? 'rgba(255, 99, 132, 1)' : 'rgba(75, 192, 192, 1)');

var ctx = document.getElementById('gain_delta_chart');
var gains_delta_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Change',
            data: data,
			borderColor: border_colours,
            backgroundColor: bg_colours,
            borderWidth: 1
        }]
    },
    options: {
		title: {
			display: true,
			text: "Monthly gain change"
		},
		animation: false,
        legend: {
			display: false,
			position: 'right'
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
					callback: function(label, index, labels) {
                        return "£" + label.toFixed(2);
                    }
                }
            }]
        }
    }
});

// Value DELTA CHART

var data = [
{% for data in periodData %}
	'{{ data.value_delta }}',
{% endfor %}
];


var bg_colours = data.map((value) => value < 0 ? 'rgba(255, 99, 132, 0.2)' : 'rgba(75, 192, 192, 0.2)');
var border_colours = data.map((value) => value < 0 ? 'rgba(255, 99, 132, 1)' : 'rgba(75, 192, 192, 1)');

var ctx = document.getElementById('value_delta_chart');
var value_delta_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Change',
            data: data,
			borderColor: border_colours,
            backgroundColor: bg_colours,
            borderWidth: 1
        }]
    },
    options: {
		title: {
			display: true,
			text: "Monthly value change"
		},
		animation: false,
        legend: {
			display: false,
			position: 'right'
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
					callback: function(label, index, labels) {
                        return "£" + label.toFixed(2);
                    }
                }
            }]
        }
    }
});

</script>

