{% include "nav_switcher.html" %}
</div>

    <div class="container-fluid pr-5 justify-content-md-center">
        <div class="row">
            <div class="pt-2 col">
                <h2>Asset Log</h2>
                <table class="table table-striped table-sm table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Asset</th>
                            <th scope="col">Deposit</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if log is defined %}
                        {% set last_period = '' %}
                        {% for dataset in log %}
                        <tr>
                            {% if last_period != dataset.period %}
                                <td>{{ dataset.period }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>
                                <div class="d-flex">
                                      <div>
                                         {{ dataset.description }}
                                      </div>
                                      {% if payDates[dataset.yearMonth] is defined and payDates[dataset.yearMonth][dataset.asset_id] is defined %}
                                      <div class="ml-auto">
                                         <span title="Payment Recieved"><span class="text-success" data-feather="arrow-up-circle"></span></span>
                                      </div>
                                      {% endif %}
                                 </div>
                            </td>
                            <td>{{ dataset.deposit_value }}</td>
                            <td>{{ dataset.asset_value }}</td>
                        </tr>
                        {% set last_period = dataset.period %}
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td class="text-center" colspan=4>No Data</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="pt-2 col">
                <h2>Payment History <a href="/payments/new{% if item_id > 0 and type == 'asset' %}/{{item_id}} {% else %}/ {% endif %}" class="btn btn-sm btn-outline-primary" role="button">Add Payment</a></h2>
                <table class="table table-striped table-sm table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Asset</th>
                            <th scope="col">Payment Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if payment is defined %}
                            {% set last_year = '' %}
                            {% set last_period = '' %}
                            {% for dataset in payment %}
                                {% if last_year != '' %}
                                    {% if last_year != dataset.year %}
                                        <tr>
                                            <th scope="row" colspan=3 class="text-right pr-5">{{ last_year }} Total Payments: {{ totals[last_year] }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                                <tr>
                                    {% if last_period != dataset.period %}
                                        <td>{{ dataset.period }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td><span title="{{ dataset.fullDate }}">{{ dataset.description }}</span></td>
                                    <td>{{ dataset.amount }}</td>
                                </tr>
                                {% set last_period = dataset.period %}
                                {% set last_year = dataset.year %}
                            {% endfor %}
                                <tr>
                                    <th scope="row" colspan=3 class="text-right pr-5">{{ last_year }} Total Payments: {{ totals[last_year] }}</td>
                                </tr>
                        {% else %}
                        <tr>
                            <td class="text-center" colspan=3>No Data</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
        </div>
    </div>