	<div class="col">
		<span class="h2 mb-0">{{ page_title }}</span>{% if asset_class %} <span class="badge badge-pill badge-info">{{asset_class}}</span>{% endif %}
	</div>
	<div class="col">
		<nav class="nav nav-pills nav-fill">
			<a class="nav-item nav-link {% if nav_item == 'view' %} active{% endif %}"
					href="{% if item_id > 0 %} /view/{{type}}/{{item_id}} {% else %} / {% endif %}">
				<span data-feather="home"></span> <small>Overview</small>
			</a>
			<a class="nav-item nav-link {% if nav_item == 'breakdown' %} active{% endif %}"
					href="{% if item_id > 0 %} /breakdown/{{type}}/{{item_id}} {% else %} /breakdown {% endif %}">
				<span data-feather="bar-chart-2"></span> <small>Breakdown</small>
			</a>
			<a class="nav-item nav-link {% if nav_item == 'analytics' %} active{% endif %}"
					href="{% if item_id > 0 %} /analytics/{{type}}/{{item_id}} {% else %} /analytics {% endif %}">
				<span data-feather="percent"></span> <small>Analytics</small>
			</a>
			<a class="nav-item nav-link {% if nav_item == 'projections' %} active{% endif %}"
					href="{% if item_id > 0 %} /projections/{{type}}/{{item_id}} {% else %} /projections {% endif %}">
				<span data-feather="trending-up"></span> <small>Projections</small>
			</a>
			<a class="nav-item nav-link disabled" href="#">
				<span data-feather="book-open"></span> <small>Ledger</small>
			<a class="nav-item nav-link {% if item_id > 0 %} {% if nav_item == 'edit' %} active{% endif %}"
					href="/{{type}}/edit/{{item_id}}"> {% else %} disabled" href="#">{% endif %}
				<span data-feather="edit-2"></span> <small>Edit</small>
			</a>
			</a>
		</nav>
	</div>
