body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-size: .9rem;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: 0.1rem 1rem 0.1rem 2rem;
  font-size: 13px;
}

.sidebar .add-button {
	padding: 0;
}

.sidebar .nav-item .disabled {
	color: #919191;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover {
  color: orange;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-brand {
  font-size: 1.5rem;
}

.sidebar-heading, .sidebar-heading a:hover {
  font-size: .75rem;
  text-transform: uppercase;
  text-decoration: none;
}

.sidebar .collapsing {
  transition-duration: 0s;
}

.nav-pills .nav-item {
	margin-left: 2px;
	margin-right: 2px;
	color: black;
}

.nav-pills .nav-link.disabled {
	color: #919191;
}

.nav-pills .nav-link.active  {
	background-color: #a0caf3;
	color: black;
}

.nav-pills .nav-link:hover {
	background-color: #fccb9f;
}

/*
 * Footer
 */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	clear: right;
	color: black;
}

.footer hr {
	margin-bottom: 8px;
}

.footer p {
	text-align: right;
	margin-bottom: 0;
}

.footer a {
	color: inherit;
	padding-left: 5px;
	padding-right: 5px;
}

.footer a:hover {
	color: #007bff;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 10px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 10px; /* Space for fixed navbar */
  }
}
